
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #f0efef;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
    position: relative;
    color: #312f2f;
}

.toggleNav{
    display: none;
}

.nav-logo{
    max-height: 60px;
}

.flex-nav{
    padding: 0 20px;
    display: flex;
    align-items: stretch;
    background-color: rgba(212, 67, 67, 0.87);
}

.flex-nav .nav-items{
    flex: 1;
}

.nav-header{
    font-size: 100%;
    margin-right: 10px;
    color: #dad5d5;
}

.logo-flex{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
}

.nav-items{
    list-style: none;
    display: flex;
    font-size: 18px;
    font-weight: 500;
    color: #f0efef;
    align-items: stretch;
    gap: 10px;
}

.nav-items li{
    flex: 0 1 200px;
    display: flex;
}

.nav-items .social{
    flex: 0;
    margin-right: 10px;
}

.nav-items a{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-items a:link, .nav-items a:visited{
    color: #f0efef;
    text-decoration: none;
    flex: 1;
}

.nav-items a:hover, .nav-items a:active{
    text-decoration: none;
    color: rgba(0, 217, 255, 0.596);
}

.nav-items a:hover:not(.social-icon), .nav-items a:active:not(.social-icon){
    background-color: rgba(0, 0, 0, 0.2);
    color: #f0efef;
}

.social-first{
    margin-left: auto;
}

.wrapper{
    display: flex;
    flex: 1 1 auto;
    height: 100%;
}
.wrapper > *{
    order: 9999;
}

.sponsored{
    flex: 0  1 15%;
    order: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.sponsored img{
    margin: 20px 0;
}
.sponoserd-content-mobile{
    display: none;
}

.main-article{
    border-left: 2px  solid  rgba(169, 169, 169, 0.3);
    border-right: 2px  solid  rgba(169, 169, 169, 0.3);
    max-width: 70%;
    flex: 1;
    order : 2;
}

.related{
    order: 3;
    flex: 0 1 20%;
}

footer{
    height: 100px;
    margin-top: 10px; 
    background-color: rgba(0, 0, 0, 0.884);
}

.related-posts{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
    background-color: rgba(226, 225, 225, 0.493);
    border-bottom: 5px solid rgba(212, 67, 67, 0.87);
    border-top: 5px solid rgba(212, 67, 67, 0.87);
}

.related-posts h4{
    margin: 20px 0;
    font-size: 24px;
}

.related{
    list-style: none;
    display: flex;
    flex-direction: column;
}

.related-article{
    display: flex;
    align-items: center;
    word-wrap: break-word;
}

.related-article img{
    height: 100px;
    max-width: 50%;
    flex: 0 0 auto;
    margin: 10px 10px 0 0 ;
}

.related-list{
    padding: 10px;
}

.related-a{
    display: inline-block;
    margin: 5px 0;
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: 800;
    word-wrap: break-word;
}

.related-author{
    font-size: 15px;
    margin-bottom: 10px;
    text-decoration: underline;
}

.main-article{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-article h2{
    margin-top: 25px;
    font-size: 38px;
    color: #312f2f;
}

.main-article time{
    align-self: flex-end;
    margin: 10px calc(100% - 95%) 0 0 ; 
    font-style: italic;
}

.img-figure{
    margin-top: 10px;
   text-align: center;
}

.post-img{
    max-width: 90%;
}

.article-pharagraph{
    max-width: 90%;
    margin-top: 10px; 
    line-height: 1.5;
}

.list-title{
    align-self: flex-start;
    margin: 10px calc(100% - 95%);
    font-size: 26px;
}

.test-list{
    align-self: flex-start;
    margin: 10px calc(100% - 95%);
    font-size: 20px;
    line-height: 2;
}

.img-gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    margin: 10px calc(100% - 95%);
}

.img-gallery img{
    flex: 1 1 50%;
    max-width: calc(50% - 10px);
}

@media screen and (max-width : 767px) 
{
    .wrapper{
        flex-wrap: wrap;
    }

    .sponsored{
        flex: 0  1 100%;
        order: 5;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .sponoserd-content{
        display: none;
    }

    .sponoserd-content-mobile{
        display: inline-block;
        width: 90%;
    }

    .main-article{
        border-left: 2px  solid  rgba(169, 169, 169, 0.3);
        border-right: 2px  solid  rgba(169, 169, 169, 0.3);
        max-width: 100%;
        flex: 1;
        order : 1;
    }
    
    .related{
        order: 2;
        flex: 0 1 100%;
    }

    .related-article{
        flex-direction: row;
    }   

    .nav-items li{
        flex: 0 1 100%;
        display: flex;
    }

    .nav-items{
        display: none;
    }

    .flex-nav .nav-items{
        flex: 0 0 100%;
        justify-content: center;
    }

    .flex-nav .social{
        margin-top: 20px;
        flex: 0 0 28%;
    }

    .social-first{
        margin: 0;
    }


    .flex-nav{
        flex-wrap: wrap;
    }

    .open{
        flex: 0 0 100%;
                display: flex;
        flex-wrap: wrap;
    }

    .logo-flex{
        flex: 1 1 50%;
    }


    .toggleNav{
        flex: 1 1 50%;
        justify-self: flex-end;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .toggleNav:link, .toggleNav:visited{
        color: #f0efef;
        text-decoration: none;
        flex: 1;
    }
    
    .toggleNav:hover, .toggleNav:active{
        text-decoration: none;
    }

}

@media screen and (min-width: 768px) and (max-width : 1023px) {
    .related-article{
        flex-direction: column;
    }    
}